body
{
  margin: 0px;
}
h1, h2, h3, h4, h5, h6
{
  font-family: sans-serif;
}
table, tbody, tr, td
{
  border-collapse: collapse;
  margin: 0px;
  border: 0px;
  padding: 0px;
  border-spacing: 0px;
}
td
{
  height: 50px;
  margin: 0px;
  padding: 0px;
}
.img_nav
{
  height: 50px;
}
.a_no_decoration
{
  text-decoration: none;
}
.td_top_nav
{
  color: #2674f2;
  margin: 0px;
}
.td_top_nav_divider
{
  color: white;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
}
.max_height
{
  height: 100%;
}
.max_width
{
  width: 100%;
}
#top_nav
{
  background-color: #c0c0c0;
}
#table_spiral
{
  display: block;
  height: 792px;
  width: 1280px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  background-color: #808080
}
